<html lang="en">
<head>
    <!-- <?php header("Access-Control-Allow-Origin: *"); ?> -->
    
  <title>product</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Product Management</h2>
  <form method="POST" action="/api/products/addproduct" enctype="multipart/form-data">
    <div class="form-group">
      
      <input type="hidden" class="form-control" id="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InIxMTE0NjVAcmd1a3Rya3YuYWMuaW4iLCJzdG9yZU5hbWUiOiJhYnRlc3QiLCJleHBpcmVzSW4iOiIyNGgiLCJpYXQiOjE1MTk3MjAyOTZ9.PZJrdJHvV5okXrwNKx0dHdxAHvc4mPuaBlBU8NYJBQE" name="token">
      <span id="e_name" style="color:red;display:none;"></span>
    </div>
    <div class="form-group">
      <label for="name">collectionType</label>
      <input type="text" class="form-control" id="collectionType" placeholder="Collection type" name="collectionType">
      <span id="e_name" style="color:red;display:none;"></span>
    </div>
    <div class="form-group">
      <label for="email">collectionId</label>
      <input type="text" class="form-control" id="collectionId" placeholder="Enter id" name="collectionId">
      <span id="e_mail" style="color:red;display:none;"></span>
    </div>
    <div class="form-group">
      <label for="pwd">title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
      <span id="e_pwd" style="color:red;display:none;"></span>
    </div>
    <div class="form-group">
      <label for="pwd">description</label>
      <input type="text" class="form-control" id="description" placeholder="Enter description" name="description">
      <span id="e_pwd" style="color:red;display:none;"></span>
    </div>
    <div class="form-group">
      <label for="pwd">price</label>
      <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
      <span id="e_pwd" style="color:red;display:none;"></span>
    </div>
    <div class="form-group">
      <label for="pwd">Retail price</label>
      <input type="text" class="form-control" id="retail_price" placeholder="Enter price" name="retail_price">
      <span id="e_pwd" style="color:red;display:none;"></span>
    </div>
    <div class="form-group">
      <label for="pwd">Discount</label>
      <input type="text" class="form-control" id="discount" placeholder="Enter price" name="discount">
      <span id="e_pwd" style="color:red;display:none;"></span>
    </div>

    <div class="form-group">
      <input type="file" name="image" id="image" />
      <!-- <input type="submit" value="Upload Image" name="submit"> -->
      <span id = "status"></span>
  </div>
    <button type="submit" class="btn btn-default" >Submit</button>
    <!-- <div id="msg" style="color: green;display:none"></div> -->
  </form>
</div>

</body>

<script>


// function validate()
// {
//   // $("#msg").css("display","none");
// //var token=$("#token").val();
//   var collectionType=$("#collectionType").val();
//   var collectionId=$("#collectionId").val();
//   var title=$("#title").val();
//   var description=$("#description").val();
//   var price=$("#price").val();
  
//   $.ajax({
    
//             type: 'POST',
//             url: 'http:localhost:8084/api/products/addproduct',
//            headers:{'token':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InIxMTE0NjVAcmd1a3Rya3YuYWMuaW4iLCJzdG9yZU5hbWUiOiJhYnRlc3QiLCJleHBpcmVzSW4iOiIyNGgiLCJpYXQiOjE1MTk3MjAyOTZ9.PZJrdJHvV5okXrwNKx0dHdxAHvc4mPuaBlBU8NYJBQE'},

//            // beforeSend: setHeader,
//             data: {collectionType:collectionType,collectionId:collectionId,
//               title:title,description:description,price:price},						
//                         success: function(data) {
//                           alert("product added successfully");
//                             console.log('success');
//                             console.log(data);
//                         }

//   });
//   return false;
// }
</script>
</html>

