<html lang="en">
        <head>
            <!-- <?php header("Access-Control-Allow-Origin: *"); ?> -->
            
          <title>product</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>
        
        <div class="container">
          <h2>Product Management</h2>
          <form method="DELETE" >
            <div class="form-group">
              <label for="name">collectionType</label>
              <input type="text" class="form-control" id="collectionType" placeholder="Collection type" name="collectionType">
              <span id="e_name" style="color:red;display:none;"></span>
            </div>
            <div class="form-group">
              <label for="email">collectionId</label>
              <input type="text" class="form-control" id="collectionId" placeholder="Enter id" name="collectionId">
              <span id="e_mail" style="color:red;display:none;"></span>
            </div>
            <button type="submit" class="btn btn-default" onclick="return validate();">Submit</button>
              <!-- <div id="msg" style="color: green;display:none"></div> -->
          </form>
        </div>
        </body>
        
        <script>
        
        function validate()
        {
          var collectionType=$("#collectionType").val();
          var collectionId=$("#collectionId").val();
          // var title=$("#title").val();
          // var description=$("#description").val();
          // var price=$("#price").val();
          $.ajax({    
                    type: 'DELETE',
                    url: 'http://localhost:8084/api/products/deleteproduct',
                   headers:{'token':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InIxMjEyMDFAcmd1a3Rya3YuYWMuaW4iLCJzdG9yZU5hbWUiOiJwcmF2YWxpMTIiLCJleHBpcmVzSW4iOiIyNGgiLCJpYXQiOjE1MTkyNzk3MTZ9.OteeyihjX62v8uP6l5xccHdcBYWwlEdNw70AW1dB4cA'},
                   // beforeSend: setHeader,
                    data: {collectionType:collectionType,collectionId:collectionId},						
                                success: function(data) {
                                 alert("product deleted successfully");
                                    console.log('success');
                                    console.log(data);
                                   // res.json(data);
                                }
        
          });
          return false;
        }
        // function setHeader(xhr) {
        
        //   xhr.setRequestHeader('token', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJwYWxsYXZpNDY1QGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InJndWt0aWlpdCIsImV4cCI6MTUxNTY3NzU2NiwiaWF0IjoxNTE1NjczOTY2fQ.74tCOk-vKQnv4Ivxph2xYAowU44ExSGC97NsyrdId9U');
        // }
        
        </script>
        </html>
        
        