<html lang="en">
    <head>
        <!-- <?php header("Access-Control-Allow-Origin: *"); ?> -->
        
      <title>product</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    
    <div class="container">
      <h2>Product Management</h2>
      <form method="PUT" action="#" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">collectionType</label>
            <input type="text" class="form-control" id="collectionType" placeholder="Collection type" name="collectionType">
        </div>
        <div class="form-group">
          <label for="email">collectionId</label>
            <input type="text" class="form-control" id="collectionId" placeholder="Enter id" name="collectionId">
        </div>
        <div class="form-group">
          <label for="pwd">title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
        </div>
        <div class="form-group">
          <label for="pwd">description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter description" name="description">
        </div>
        <div class="form-group">
          <label for="pwd">price</label>
          <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
        </div>
        <div class="form-group">
          
          <input type="hidden" class="form-control" id="preImage"  name="preImage" value="https://s3.amazonaws.com/cadenza-images/1519733454354_career_banner.jpg">
        </div>
        <div class="form-group">
          <input type="file" name="image" id="image" >
      </div>
        <button type="submit" class="btn btn-default" onclick="return validate();">Submit</button>
      </form>
    </div>
    </body>
    
    <script>
    
    
    function validate()
    {

      var collectionType=$("#collectionType").val();
      var collectionId=$("#collectionId").val();
      var title=$("#title").val();
      var description=$("#description").val();
      var price=$("#price").val();
      var file = document.getElementById('image').files[0];
      var preImage=$("#preImage").val();
     
      formdata = new FormData(); 
      formdata.append("collectionType",collectionType);
      formdata.append("collectionId",collectionId);
      formdata.append("title",title);
      formdata.append("description",description);
      formdata.append("price",price);
      formdata.append("image",file);
      formdata.append("preImage",preImage);

   $.ajax({
       url:"http://localhost:8084/api/products/updateproduct",
       headers:{'token':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InIxMTE0NjVAcmd1a3Rya3YuYWMuaW4iLCJzdG9yZU5hbWUiOiJhYnRlc3QiLCJleHBpcmVzSW4iOiIyNGgiLCJpYXQiOjE1MTk3MjAyOTZ9.PZJrdJHvV5okXrwNKx0dHdxAHvc4mPuaBlBU8NYJBQE'},
       method: 'PUT',
       data:formdata,
	     processData: false, 
	     contentType: false,

   }).done(function(data){
       console.log(JSON.stringify(data));
    });

      return false;
    }
    </script>
    </html>
    
    